.heroContainer {
  position: relative;
  height: 100vh;
}

.image {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: -10;
  object-fit: cover;
}

.text {
  padding-top: 12rem; /* pt-48 corrisponde a 12rem */
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 3.75rem; /* text-6xl corrisponde a 3.75rem */
}

.header {
  width: 100%;
  position: absolute;
  color: white;
  z-index: 10;
}

/* Stile per il nav */
.navbar {
  max-width: 1140px; /* larghezza massima (equivalente al comportamento di container in Tailwind) */
  margin: 0 auto; /* Centrato orizzontalmente */
  padding: 2rem; /* Equivalente a p-8 in Tailwind */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.navbar * {
  color: white;
  text-decoration: none;
}

.homes {
  font-family: "Bond", sans-serif; /* Supponendo che il font "Bond" sia già importato o disponibile */
  font-size: 1.875rem; /* text-3xl corrisponde a 1.875rem */
}

.group {
  display: flex;
  gap: 1rem; /* space-x-4 corrisponde a 1rem di spazio tra gli elementi */
  font-size: 1.25rem; /* text-xl corrisponde a 1.25rem */
  text-decoration: none;
  color: white;
}
